.ant-dropdown {
  .ant-dropdown-menu {
    border-radius: 8px;
  }
}

.ant-modal-wrap {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  .ant-modal {
    transform-origin: 50% 50% !important;
    transform: scale(1) !important;
    .ant-modal-content {
      background: none;
      box-shadow: none;
      pointer-events: none;
      .my-modal {
        background: white;
        padding: 20px 25px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 12px;
        pointer-events: auto;
      }
      .delete-modal {
        background: white !important;
        width: 450px;
        font-family: $inter;
        // height: 271px;
        p,
        label {
          font-size: 14px;
        }
        .des {
          font-size: 14px;
          color: $silver;
        }
      }

      .add-image-modal {
        width: 690px;
        height: max-content;
        transform: translate(-15%, 5%);
      }
    }
  }
}
