.ant-dropdown {
  .ant-dropdown-menu {
    border-radius: 8px;
  }
}

.ant-modal-wrap {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  .ant-modal {
    transform-origin: 50% 50% !important;
    transform: scale(1) !important;
    .ant-modal-content {
      background: none;
      box-shadow: none;
      pointer-events: none;
      .my-modal {
        background: white;
        padding: 20px 25px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 12px;
        pointer-events: auto;
      }
      .delete-modal {
        background: white !important;
        width: 450px;
        font-family: $inter;
        // height: 271px;
        p,
        label {
          font-size: 14px;
        }
        .des {
          font-size: 14px;
          color: $silver;
        }
      }
      .slider-modal {
        width: 850px;
        transform: translate(-18%, -15%);
        @include flex(row, $center: true);
        user-select: none;
        i {
          position: fixed;
          @include iconDesign;
          avg {
            font-size: 22px;
          }
        }
        .arrow {
          top: 50%;
          transform: translateY(-50%);
        }
        .arrow-left {
          left: 5px;
        }
        .arrow-right {
          right: 5px;
        }
        .cross {
          top: 4px;
          z-index: 20;
        }
        .imgs-wrapper {
          background-color: rgba($color: $input_back, $alpha: 0.4);
          border-radius: 9px;
          @include wh(48.75rem, 480px);
          overflow: hidden;
          .imgs-inner-wrapper {
            transition: all 0.3s ease-in-out;
            .img-wrapper {
              img {
                @include wh(780px, 480px);
                aspect-ratio: 1/2;
                object-fit: contain;
              }
            }
          }
        }
      }

      .add-image-modal {
        width: 690px;
        height: max-content;
        transform: translate(-15%, -5%);
      }
    }
  }
}
