@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex($d, $center) {
  display: flex;
  flex-direction: $d;
  @if (center) {
    align-items: center;
    justify-content: center;
  }
}

@mixin menuoption($h, $w) {
  @include flex(row, true);
  @include wh($w, $h);
  user-select: none;
  border-radius: 8px;
  background: rgba(#c6c1c1, 0.5);
  svg {
    font-size: 18px;
    transition: all 0.055s ease-in-out;
  }
}

@mixin iconDesign {
  border-radius: 50%;
  background: rgb(238, 238, 238);
  @include wh(30px, 30px);
  @include flex(row, $center: true);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@mixin button($primary: false) {
  outline: none;
  background: none;
  border-radius: 4px;
  padding: 4px 8px;
  border: $border-silver;
  @if ($primary) {
    color: $brandClr;
    border-color: $brandClr;
  } @else {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
  }
}
