@import "~bootstrap/scss/bootstrap.scss";
@import "reset";
@import 'font';
@import 'colors';
@import 'customclasses';
@import 'mixins';
@import './components.style/sidebar';
@import "./components.style/header";
@import "./components.style/album";
@import "main";
@import './style.pages/index';
@import './style.pages/auth';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $inter;
  width: 100vw;
  height: 100vh;
  background: $background;
  overflow: hidden;
  color: white;
}