.create {
  .create-form-wrapper {
    form {
      height: 285px;
      label {
        position: relative;
        input {
          width: 380px;
          padding: 10px;
          border: none;
          outline: none;
          border-radius: 7px;
          background: none;
          border: 2px solid rgb(230, 230, 230);
          margin-bottom: 6px;
          &:focus ~ span {
            transform: translate(6px, -40px);
          }
          &:valid ~ span {
            transform: translate(6px, -40px);
          }
          // &:valid ~ span {
          //   @extend #span_active;
          // }
        }
        span {
          position: absolute;
          top: 45%;
          left: 10px;
          transform: translateY(-50%);
          pointer-events: none;
          color: silver;
          font-size: 13px;
          transition: all 0.2s ease-in-out;
          background-color: $background;
          padding: 6px 8px;
        }
      }
    }
  }
}
