.album {
  width: 320px;
  height: 285px;
  border-radius: 10px;
  position: relative;
  user-select: none;
  overflow: hidden;
  &:hover {
    i,
    .album__content > .right > i {
      opacity: 1;
      visibility: visible;
    }
    img {
      transform: scale(1.003);
    }
  }
  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    user-select: none;
    transition: all 0.3s ease-in-out;
  }

  .album__content {
    // position: absolute;
    // bottom: 5px;
    // left: 10px;
    backdrop-filter: blur(5px);
    padding: 10px;
    z-index: 10;
    .right {
      i {
        border-radius: 50%;
        background: rgb(238, 238, 238);
        @include wh(30px, 30px);
        @include flex(row, $center: true);
        // opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .menu-option {
    position: absolute;
    z-index: 10;
    top: 18px;
    right: 18px;
    @include wh(30px, 30px);
    @include flex(row, true);
    border-radius: 40%;
    background: rgba(white, 0.4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: none;
  }
}
