.main-header {
  background-color: $background;
  z-index: 400;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(219, 219, 219);
  //height: 75px;
  .upper {
    .preview-option {
      font-size: 11px;
      @include menuoption(max-content, max-content);
      svg {
        font-size: 14px;
      }
      border-radius: 6px;
      padding: 8px 10px;
    }
    .add-new-dir {
      background: linear-gradient(to right, #ff5858, #f857a6);
    }
  }

  .down {
    .total__albums {
      font-weight: 400;
      font-size: 15px;
    }
  }
}