.loading-screen {
  background-color: rgba($color: white, $alpha: 0.7);
  backdrop-filter: blur(8px);
  z-index: 1000;
  .loader {
    @include wh(50px, 50px);
    border: 2px solid $brandClr;
    border-radius: 50%;
    border-top: none;
    animation: load 1.5s linear infinite;
  }
}

@keyframes load {
  50% {
    transform: rotate(360deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}
