.photo {
  // @include wh(280px, 280px);
  width: 290px;
  height: 245px;
  background-color: $input_back;
  border-radius: 9px;
  overflow: hidden;
  &:hover {
    .img-wrapper {
      i {
        opacity: 1;
      }
    }
  }
  .img-placeholder {
    position: absolute;
    inset: 0;
  }
  .img-wrapper {
    @include wh(100%, 100%);
    i {
      @include iconDesign;
      opacity: 0;
      position: absolute;
      top: 9px;
    }
    .heart-icon {
      left: 10px;
    }
    .delete-icon {
      left: 48px;
    }
    .expand-icon {
      right: 8px;
    }
    img {
      @include wh(100%, 100%);
      object-fit: cover;
    }
  }
}
